@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  transition: all 0.5s ease;
  font-family: 'Mali', cursive;
}

input, textarea {
  font-family: 'Mali', cursive;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

.header {
  font-family: 'Reenie Beanie', cursive;
  height: 100px;
  background-color: #fff2a0;
  border-bottom: 3px solid rgb(202, 202, 202);
}

.header a:hover {
  text-shadow: 0px 0px 4px rgb(49, 169, 176);
}

.header__nav {
  position: relative;
  top: 35px;
  display: flex;
  justify-content: space-evenly;
  font-size: 32px;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


/* _______________________________________________________________ */
/* index */

.index {
  height: 60vh;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  /* margin-top: 200px; */
  text-shadow: 3px 3px 5px rgb(93, 93, 93);
}

/* _______________________________________________________________ */
/* posts and some todos, ussers */

.posts, .todos, .users {
  text-align: center;
}

.container {
  padding-top: 50px;
  width: 800px;
  margin: 0 auto;
}

.post {
  text-align: left;
  display: flex;
  border-left: 1px solid;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
  border-right: 1px solid;
  width: 800;
}


.post__pic {
  margin-right: 20px;
}

.post__pic img {
  width: 140px;
}

.post__main {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.post__title {
  font-size: 30px;
  margin-bottom: 10px;

}

.post__sub {
  font-size: 11px;
  margin-bottom: 10px;
}

.post__text {
  font-size: 14px;
  width: 100%;
}

.buttons {
  display: flex;
  align-self: center;
  margin-top: 20px;
  margin-right: 140px;
}

.buttons button {
  width: 65px;
}

.posts button, .todos button, .users button, .form-edit__buttons button {
  font-family: 'Mali', cursive;
  background-color: inherit;
  padding: 6px 8px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.open-button:hover, 
.new-post__button:hover, 
.new-todo__button:hover, 
.new-user__button:hover,
.edit-form__save:hover {
  background-color: #9eff95;
}

.edit-button {
  margin: 0 30px;
}

.edit-button:hover, 
.todo-item__edit-btn:hover,
.user-item__edit-btn:hover {
  background-color: #fff2a0;
}

.delete-button:hover, 
.todo-item__delete-btn:hover,
.user-item__delete-btn:hover,
.edit-form__cancel:hover {
  background-color: #ff5f5f;
}

.new-post__button, .new-todo__button, .new-user__button {
  margin-bottom: 40px;
  font-size: 18px;
}

.noposts {
  margin-top: 100px;
}

/* _______________________________________________________________ */
/* todos, edit-todo, edit-user */ 

.todo-item__text {
  font-size: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid;
}

.todo-item__edit-btn {
  margin-right: 10px;
}

.todo-item__buttons button {
  font-size: 12px;
}

.todo-item__buttons {
  display: flex;
  justify-content: center;
}

.todo-item {
  margin-bottom: 50px;
  width: 400px;
  align-self: center;
  justify-self: center;
}

.todos__list {
  display: flex;
  flex-direction: column;
}

.edit-todo-outlet, .edit-user-outlet {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: rgba(77, 77, 77, 0.47);
  display: none;

}

.edit-todo-active {
  display: block;
}

.edit-todo-form, .edit-user-form {
  border-radius: 20px;
  margin-top: 15vh;
  width: 400px;
  margin-left: 200px;
  height: 200px;
  background-color: #fff;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
}

.edit-todo-form h1 {
  margin-left: -50px;
  padding-left: 50px;
  border-left: 4px solid #ffe647;
}

.form-edit-todo__buttons {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.form-edit-todo__buttons button {
  width: 70px;
}

.edit-todo-form input, .edit-user-form input {
  border-radius: 7px;
  border: 0.5px solid;
  padding: 5px 10px;
  margin: 20px 0;
  width: 300px;
  font-size: 16px;
}

/* _______________________________________________________________ */
/* users, edit-user*/

.users__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  border-left: 3px solid;
  width: 550px;
  height: 120px;
  border-bottom: 2px solid rgb(182, 182, 182);
}

.user__avatar img{
  width: 70px;
}

.user__avatar {
  align-self: center;
  width: 150px;
}

.user__main {
  flex: 1 1 auto;
  text-align: left;
  margin-top: 15px;
}

.user__name {
  font-weight: 600;
  font-size: 22px;
}

.user__info {
  font-size: 14px;
  margin-top: 5px;
  color: grey;
}

.user__buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 70px;
  margin-right: 30px;
}

.user__buttons button {
  width: 80px;
}

.user-item__edit-btn {
  margin-bottom: 5px;
}

.users {
  margin-bottom: 30px;
}

.edit-user-form {
  height: 400px;
}

.edit-user-form h1 {
  border-left: 4px solid #ffe647;
  width: 290px;
}

/* _______________________________________________________________ */
/* post */

.p__main {
  margin-bottom: 50px;
}

.p__img {
  text-align: center;
  margin-bottom: 20px;
}

.p__img img {
  height: 400px;
}

.p__title {
  font-size: 40px;
  font-weight: 600;
}

.p__sub {
  margin-bottom: 30px;
  color: grey;
}


/* _______________________________________________________________ */
/* edit post */

.edit-form h1 {
  font-size: 18px;
  font-weight: normal;
  border-left: 2px solid #ffe647;
  padding-left: 10px;
  width: 400px;
}

.edit-form textarea {
  height: 100px;
}

input:focus, textarea:focus {
  outline: 2px solid #ffe647;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form input,.edit-form textarea  {
 border-radius: 7px;
 border: 0.5px solid;
 padding: 5px 10px;
 width: 400px;
 margin: 10px 0 30px 0;
}

.form-edit__buttons {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.form-edit__buttons button {
  width: 70px;
}
